h1 Add book
form(action="/books/add", method="POST")
  label Title
    input(type="text", name="title" style="margin-left: 60px")
  br
  label Description
    input(type="text", name="description" style="margin-left: 15px")
  button Add