extends ../layouts/common.pug
block content
  h1 New Transaction

  form(method="POST")
    select(class="custom-select custom-select-lg mb-3" name="userBorrow")
     option(selected) User
     each user in users
        option= user.name
  
    select(class="custom-select custom-select-lg mb-3" name="bookBorrow")
      option(selected) Book
      each book in books
        option= book.title
    button(class="btn btn-primary") Add

  
  a(href="/transactions" style="text-decoration: none") Go Back