extends ../layouts/common.pug
block content
  h1 New Transaction

  form(method="POST")
    select(class="custom-select custom-select-lg mb-3" name="userBorrow")
      each user in users
        option(selected) User
        option= user.name
  
    select(class="custom-select custom-select-lg mb-3" name="bookBorrow")
      each book in books
        option(selected) Book
        option= book.title
    button(class="btn btn-primary") Add

  
  a(href="/transactions" style="text-decoration: none") Done