form(action="/users/" + user.id + "/update", method="POST")
  label New Name
    input(type="text", name="newName" style="margin-left: 15px") 
  br
  label New Age
    input(type="number", name="newAge" style="margin-left: 25px") 
    button  Update