h1 New user
form(action="/users/create", method="POST")
  label Name
    input(type="text", name="name" style="margin-left: 15px")
  br
  label Age
    input(type="text", name="age" style="margin-left: 25px")
  button Add