extends ../layouts/common.pug
block content
  form(action="/users/" + user.id + "/update", method="POST")
    div(class="form-group")
      label New Name
        input(class="form-control" type="text", name="newName") 
    div(class="form-group")
      label New Age
        input(class="form-control" type="number", name="newAge") 
    button(class="btn btn-primary") Update
    
  a(href="/users") Go back