extends ../layouts/common.pug
block content
  h1 New user
  form(action="/users/create", method="POST")
    div(class="form-group")
      label Name
        input(class="form-control" type="text", name="name")
    div(class="form-group")
      label Age
        input(class="form-control" type="number", name="age")
    button(class="btn btn-primary") Add
  
  a(href="/users") Go back