html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="shortcut icon" type="image/jpg" href="https://cdn.glitch.com/3bbae73d-4c12-40a6-b074-4de9473c06e5%2Ffavicon.png.jpg?v=1592402261279")
  body
    block content